
.revosection__title {
    margin: 66px 0 0;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    color: #635C73;
    text-transform: uppercase;
}
.revosection__txtundertitle {
    margin-top: 35px;
    text-align: center;
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    color: $countersColor;

}
.revosection__txtundertitle__secondLine {
    text-align: center;
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    color: $countersColor;
}
.revosection__icons-menu {
    @include flx-center;
    margin-top: 25px;
    margin-bottom: 70px;

    &__item {
        @include flx-center;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-left: 15px;
    }
    &__item__cell {
        display: flex;
        align-items: center;
        padding: 4px 12px;
        background-color: #FAFBFC;
        border-right: 1px solid lightgray;
    }
    &__item__number {
        padding: 4px 12px;
        font-size: 12px;
        color: $countersColor;
        font-weight: 600;
    }
    &__item__text {
        margin-left: 4px;
        font-size: 14px;
        color: $countersColor;
        font-weight: 600;
    }

}

//==================== YOU GET SECTION ================//
.youget {

    background: #F4F4F4;

}
.youget__grid {
    display: grid;
    padding-left: 90px;
    padding-top: 90px;
    grid-template-columns: 0.8fr 1fr;
    gap: 0 30px;
    justify-items: center;
    align-items: flex-end;
    grid-template-areas:
    "item1 slogan"
    "item2 picture"
    "item3 picture"
    "item4 picture";
}
.youget__grid__item1 {
    grid-area: item1;
    @include grd-start;
    column-gap: 24px;
  }

  .youget__grid__item2 {
    grid-area: item2;
    @include grd-start;
    column-gap: 42px;
  }

  .youget__grid__item3 {
    grid-area: item3;
    @include grd-start;
    column-gap: 70px;
  }

  .youget__grid__item4 {
    grid-area: item4;
    @include grd-start;
    column-gap: 58px;
  }

  .youget__grid__item5 {
    grid-area: slogan;
    align-self: flex-start;
    justify-self: left;
  }

  .youget__grid__item6 {
    grid-area: picture;
    width: 100%;
    justify-self: end;
    img {
        width: 100%;
    }
  }
.youget__grid__slogan {
    padding-left: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: $btnColor;
}
.youget__grid__slogan::before {
    content: '<';
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: $btnColor;
}
.youget__grid__slogan::after {
    content: '>';
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: $btnColor;
}
.youget__grid__item__title {
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    font-weight: 400;
    text-align: left;
}
.youget__grid__item__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
    font-weight: 400;
}

//Макет 768 пикселей показывает как будет выглядеть контент при размере экрана от 481 до 992 (!) пикселей.
@media (min-width: 481px) and (max-width: 992px) {
    .revosection__title{
        margin: 93px 0 0;

    }
    .youget {
        background: #fff;
    }
    .youget__grid {
        display: grid;
        padding: 0 30px 0;
        grid-template-columns: auto;
        gap: 50px 0;
        justify-items: center;
        align-items: flex-end;
        grid-template-areas:
        "slogan"
        "item1"
        "item2"
        "item3"
        "item4"
        "picture";

          .youget__grid__item1 {
            grid-area: item1;
            grid-template-columns: auto auto;
          }

          .youget__grid__item2 {
            grid-area: item2;
            grid-template-columns: auto auto;
          }

          .youget__grid__item3 {
            grid-area: item3;
            grid-template-columns: auto auto;
          }

          .youget__grid__item4 {
            grid-area: item4;
            grid-template-columns: auto auto;
          }

          .youget__grid__item5 {
            grid-area: slogan;
            justify-self: center;
          }

          .youget__grid__item6 {
            grid-area: picture;

          }
          .youget__grid__slogan{
              margin: 0 auto;
              text-align: center;
          }
    }
}
//Макет 320 пикселей показывает как будет выглядеть контент при размере экрана от 320 до 480 (!) пикселей.

@media (min-width: 320px) and (max-width: 480px){
    .revosection__title{
        margin: 80px 0 0;
        padding: 0 10px 0;
        font-size: 26px;
        line-height: 28px;
    }
    .revosection__txtundertitle, .revosection__txtundertitle__secondLine{
        font-size: 14px;
        line-height: 20px;
    }
    .revosection__icons-menu{

        margin: 0;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    .revosection__icons-menu__item{
        margin: 20px 0 0;
    }
    .revosection__icons-menu__item:first-child{
        margin: 20px 10px 0 0;
    }


    .youget{
        background: #fff;
        padding: 0;
    }


    .youget__grid{
        grid-template-columns: 100%;
        justify-items: center;
        padding: 0 20px 0;
        grid-template-rows: none;
        gap: 38px 0;
        grid-template-areas:
        "slogan"
        "item1"
        "item2"
        "item3"
        "item4"
        "picture";

        &__item1, &__item2, &__item3, &__item4{
            grid-template-columns: 100%;
            gap: 25px;
            padding: 0 5px 0;
        }
        &__slogan {
            //width: 230px;
            margin: 120px auto 0;
            font-size: 32px;
            text-align: center;
            line-height: 38px;
            color: $btnColor;
            &::after, &::before{
                font-size: 32px;
                line-height: 38px;
            }
            &::after{
                content: ">";
            }
            &::before{
                content: "<";
            }
        }
        
        .youget__grid__item__title {
            font-size: 16px;
            line-height: 16px;
            color: #323232;
            font-weight: 400;
            text-align: center;
        }
        .youget__grid__item__text {
            margin-top: 15px;
            font-size: 14px;
            line-height: 21px;
            color: #848E97;
            font-weight: 400;
            text-align: center;
        }

    }
}
